/* Pc first */

@media screen and (max-width: 1320px) {
    
}
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}

@media screen and (max-width: 240px) {}

/* -------------------------------------------------------
Mobile first */
@media screen and (min-width: 240px) {}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {
    .wrapper {

        max-width: 960px;
    }
    .container-960 {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {

        max-width: 1200px;
    }
    .container-960 {
        max-width: 960px;
    }
}
