body {
    background-color: #413D3D;

}

.grid {
    @media screen and (min-width: 1024px){
        max-width: 1000px
    }
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    h1{
        font-family: "sans-serif";
        background-color: #01BBFF;
        font-size: 60px;
        text-align: center;
        color: #ffffff;
        padding: 2px 0px;
    }
    #question{
        font-family: "monospace";
        font-size: 30px;
        color: #01BBFF;
    }
    #quiz{
        

        .buttons{
            // background: #333333 !important;
        }
        .bu1{
            // background: #01BBFF;
        }
        
        // background: #333;
    }
    &:hover{
        // background-color: #01BBFF;
    }
}

