body {
  background-color: #413D3D;
}

.grid {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
}

@media screen and (min-width: 1024px) {
  .grid {
    max-width: 1000px;
  }
}

.grid h1 {
  font-family: "sans-serif";
  background-color: #01BBFF;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
}

.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: #01BBFF;
}
/*# sourceMappingURL=main.css.map */